@import url("../../colors.css");

.bubble_container {
  position: absolute;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.bubble {
  position: absolute;
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--light-blue);
  background: var(--blue-gradient);
  box-shadow: var(--bubble-shadow);
  filter: var(--shadow);
  user-select: none;
}

.info_text {
  visibility: hidden;
  font-size: 22px;
  width: 330px;
  height: 200px;
}

@media screen and (max-width: 1127px) {
  .info_text {
    font-size: 19px;
    width: 300px;
  }
}

@media screen and (max-width: 700px) {
  .info_text {
    font-size: 14px;
    width: 200px;
  }

  @media screen and (max-height: 900px) {
    .info_text {
      font-size: 12px;
    }
  }
}

.popped {
  animation: puff-out 1s cubic-bezier(0.165, 0.84, 0.44, 1) both;
}

@keyframes puff-out {
  0% {
    transform: scale(1);
    filter: blur(0px);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    filter: blur(4px);
    opacity: 0;
  }
}

.appear {
  visibility: visible;
  animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
}

@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
