@import 'tailwindcss';
@import './styles/shared.css';
@import './styles/loading.css';
@import './styles/animations.css';
@import './styles/menu.css';
@import './styles/hero.css';
@import './styles/tech.css';
@import './styles/experiences.css';
@import './styles/projects.css';

html {
  scroll-behavior: smooth;
}

:root {
  --font-heading: 'Climate Crisis', cursive;
  --font-serif: 'Baskervville', serif;

  --color-base-00: #1a1a1a;
  --color-base-01-nomad: #2c3132;
  --color-base-01-monolith: #2c3132;
  --color-base-02-nomad: #394546;
  --color-base-02-monolith: #464539;
  --color-base-03-nomad: #607e82;
  --color-base-03-monolith: #7a8260;
  --color-base-04-nomad: #889396;
  --color-base-04-monolith: #929688;
  --color-base-05-nomad: #c7d6db;
  --color-base-05-monolith: #d7dbc7;
  --color-base-06-nomad: #02a7a8;
  --color-base-06-monolith: #a19d17;
  --color-base-07: #fdfdfd;
  --color-base-08: #cc241d;
  --color-base-09: #fe8019;
  --color-base-0A: #fabd2f;
  --color-base-0B: #a19d17;
  --color-base-0C: #02a7a8;
  --color-base-0D: #458588;
  --color-base-0E: #b16286;
  --color-base-0F: #7c6f64;
}

body {
  margin: 0;
  font-family: var(--font-serif);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-base-00);
}
